@font-face {
    font-family: myFont;
    src: url(../font/Duplet-Regular.otf);
}

@font-face {
    font-family: myFont-1;
    src: url(../font/dalfitra.otf);
}

@font-face {
    font-family: interFont;
    src: url(../font/Inter-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}


.job-banner {
    text-align: center;
    margin-top: 115px;
    margin-bottom: 90px;
}

.jbanner-details h1 {
    font-family: 'myFont';
    font-size: 36px;
    line-height: 46.08px;
    font-weight: 400;
    color: #000000;
}

.jbanner-details p {
    font-family: 'myFont';
    font-size: 25px;
    color: #000000;
    line-height: 32px;
    font-weight: 400;
}


.btn-job-search {
    font-family: 'myFont';
    font-weight: 700;
    font-size: 32px;
    line-height: 40.96px;
    background: #7F1BFF;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 15px;
}

.btn-job-search:hover {
    background: #7F1BFF;
    color: #FFFFFF;
}

.jbanner-search {
    margin-top: 50px;
    margin-bottom: 50px;
}

.jbanner-search .form-control {
    width: 79% !important;
}

.jbanner-search .form-control::placeholder {
    font-family: 'myFont';
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    color: #00000080;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jdetails-card-header h2 {
    font-family: 'myFont';
    font-weight: 600;
    font-size: 35px;
    line-height: 44.8px;
    color: #000000CC;
}

.jdetails-card-header-details {
    display: flex;
    justify-content: space-between;
}

.jdetails-card-header-details .left p {
    font-family: 'myFont';
    font-weight: 400;
    font-size: 28px;
    line-height: 35.84px;
    color: rgba(0, 0, 0, 0.5);
}

.jdetails-card {
    background-color: #7F1BFF12;
    padding: 15px 20px;
    border-radius: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jdetails-card-body h2 {
    font-family: 'myFont';
    font-weight: 600;
    font-size: 35px;
    line-height: 44.8px;
    color: #050533;
}

.jdetails-card-body p {
    font-family: 'myFont';
    font-weight: 400;
    font-size: 30px;
    line-height: 38.4px;
    color: #05053399;
    padding-top: 20px;
}

.jdetails-card-footer {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}


.jdetails-card-footer .left ul {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.jdetails-card-footer .left ul li {
    font-family: 'myFont';
    font-weight: 400;
    font-size: 17.42px;
    line-height: 22.29px;
    color: #050533;
    padding-right: 15px;
}

.jdetails-card-footer .left ul li img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    padding-right: 10px;
}

.jdetails-card-footer .right a {
    background-color: #7B19FF;
    font-family: 'myFont';
    font-weight: 600;
    font-size: 16.21px;
    line-height: 20.75px;
    color: #FFFFFF;
    padding: 10px 27px;
    border-radius: 15px;
    text-decoration: none;
}

.card-footer {
    margin-top: 70px;
    margin-bottom: 0px;
}

.card-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.card-footer ul li a {
    text-decoration: none;
    padding: 10px 15px;
}

.card-footer ul li a {
    font-family: 'myFont';
    font-weight: 400;
    padding: 10px 20px;
    font-size: 17.42px;
    line-height: 22.29px;
    color: #000000;
}


.card-footer ul li:first-child a,
.card-footer ul li:last-child a {
    background-color: #7B19FF;
    color: #FFFFFF !important;
    padding: 10px 25px;
    font-family: 'myFont';
    font-weight: 600;
    font-size: 17px;
    line-height: 21.76px;
    border-radius: 50px;
    letter-spacing: 1.5px;
}


.job-filter-item {
    padding-right: 50px;
    margin-bottom: 20px;
}

.job-filter-item .accordion-item-title {
    position: relative;
    display: flex;
    font-size: 22.18px;
    font-weight: 600;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'myFont';
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    line-height: 28.39px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.job-filter-item input[type="checkbox"]:checked~.accordion-item-title {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.job-filter-item .accordion-item-desc {
    display: none;
    font-family: 'myFont';
    font-weight: 400 !important;
    font-size: 22.9px;
    font-weight: 100;
    line-height: 29.31px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}

.accordion-item-desc form label {
    margin-bottom: 15px;
}

.job-filter-item input[type="checkbox"] {
    display: none;
}

.job-filter-item input[type="checkbox"]:checked~.accordion-item-desc {
    display: block;
    border: 2px solid white;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.job-filter-item input[type="checkbox"]:checked~.accordion-item-title .icon:after {
    content: "\2212";
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0 6px 2px 6px;
    border-radius: 15px;
}

.job-filter-item input[type="checkbox"]~.accordion-item-title .icon:after {
    content: "\002B";
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0 6px 2px 6px;
    border-radius: 15px;
}

/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    cursor: pointer;
    font-family: 'mtFont';
    font-weight: 400;
    font-size: 28px;
    line-height: 35.84px;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 15px;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 8px;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'mtFont';
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}