/* team about start  */


@media only screen and (max-width: 1600px) {}


/* Desktop/Laptops */
@media only screen and (max-width: 1200px) {}



/* Tabs */
@media only screen and (max-width: 991px) {}


/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
    .tabout_first {
        margin-top: 45px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 35px;
    }

    .tabout_third {
        padding-left: 25px;
        padding-right: 25px;
    }

    .tabout_left_side p {
        margin-top: 17px;
    }

    .tabout_left_side h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .tabout_left_side h3 {
        font-size: 20px;
        line-height: 26px;
    }

    .tabout_left_side p {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }

    .tabout_first .tabout_left_side_social ul {
        margin-top: 30px;
        max-width: 220px;
    }

    .tabout_first .tabout_left_side ul li {
        line-height: 0px;
        padding: 5px 0px;
    }

    .tabout_first .tabout_left_side_social ul li img {
        height: 25px;
        width: 25px;
    }

    .tabout_right_side img {
        margin-top: 32px;
        height: auto;
    }

    .tabout_third .tabout_left_side h2 {
        font-size: 35px;
        line-height: 45px;
        color: #050533;
    }

    .tabout_third .tabout_left_side ul li {
        font-size: 20px;
        line-height: 26px;
    }

    .tabout_second .tabout_right_side img {
        display: none;
    }

    .tabout_second .tabout_left_side h2 {
        font-size: 35px;
        line-height: 45px;
        color: #050533;
    }

    .tabout_second .tabout_left_side p {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 45px;
    }

    .tabout_second .tabout_mobile img {
        display: block;
        width: 100%;
        border-radius: 36px;
        padding: 20px;
    }

    .tabout_third {
        margin-top: 0px;
        margin-bottom: 146px;
    }
    .tabout_second {
        margin-bottom: 45px;
    }
}

/* team about end */


/* career start  */

/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

    .career-section {
        padding-bottom: 40px;
    }

    .career-img img {
        display: none;
    }

    .career-img .circle-img {
        display: none;
    }

    .career-img-mobile {
        display: block;
        position: relative;
    }

    .career-img-mobile img {
        border-radius: 20px;
    }

    .circle-img-mobile {
        position: absolute;
        bottom: -31px;
        left: 143px;
    }

    .circle-img-mobile img {
        width: 60px;
    }

    .career-main {
        margin-top: 40px;
    }

    .career-details h1 {
        font-size: 33.06px;
        line-height: 37px;
        padding-top: 60px;
    }

    .career-details p {
        font-size: 13.52px;
        line-height: 17.31px;
    }

    .career-details .btn-career {
        font-size: 17.41px;
        line-height: 22.28px;
    }

    .career-main-deader h3 {
        font-size: 20px;
        line-height: 21.18px;
        max-width: 250px;
    }

    .career-main-deader h2 {
        font-size: 30px;
        line-height: 75px;
    }

    .career-main-deader p {
        font-size: 20px;
        line-height: 25.6px;
    }

    .career-main-card {
        min-height: 280px;
    }

    .career-main-card h4 {
        font-size: 23.6px;
        line-height: 30.21px;
        max-width: 50px;
        max-height: 50px;
    }

    .career-main-card h3 {
        font-size: 32.01px;
        line-height: 40.98px;
        text-align: left;
    }

    .career-main-card p {
        font-size: 16.86px;
        line-height: 21.58px;
    }

    .career-gallary-header {
        margin-top: 40px;
    }


    .career-gallary-header h3 {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 20px;
    }

    .career-gallary-header h4 {
        font-size: 20px;
        line-height: 21px;
        display: inline;
        padding: 5px 14px;
        letter-spacing: 2px;
    }

    .grid-container {
        display: none;
    }

    .grid-container-mobile {
        display: grid;
        grid-template-columns: auto;
    }

    .item-m-2 {
        grid-column: 1;
        grid-row: 2 / span 3;
    }

    .grid-item-m.item-m-1 img,
    .grid-item-m.item-m-2 img,
    .grid-item-m.item-m-3 img,
    .grid-item-m.item-m-4 img,
    .grid-item-m.item-m-5 img,
    .grid-item-m.item-m-6 img {
        border-radius: 20px 20px 20px 20px;
        width: 100%;
        padding-bottom: 20px;
    }





}

/* career end */

/* jobs responsive start  */

@media only screen and (max-width: 1600px) {}


/* Desktop/Laptops */
@media only screen and (max-width: 1200px) {}



/* Tabs */
@media only screen and (max-width: 991px) {}


/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

    /* job-1-page-start */
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .job-banner {
        margin-top: 38px;
    }

    .jbanner-search form {
        display: flex;
        flex-direction: column;
    }
    .jbanner-search .form-control {
        width: 100% !important;
        margin-bottom: 8px;
        padding: 8px 12px;
        font-size: 15px;
    }
    .jbanner-search {
        margin-top: 30px;
        padding-left: 48px;
        padding-right: 48px;
    }
    .btn-job-search {
        font-size: 17px;
        letter-spacing: 0px;
        padding: 0px;
        border-radius: 5px;
    }

    .jbanner-details h1 {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0em;
        width: 60%;
        margin: 0 auto;
    }

    .jbanner-details p {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0em;
        padding-top: 8px;
    }

    .jdetails-card-body h2 {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0em;
    }

    .jdetails-card-body p {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .jdetails-card-footer .left ul li img {
        width: 22px;
        height: 22px;
        padding-right: 3px;
    }

    .jdetails-card-footer .left ul li {
        font-size: 7px;
        line-height: 9px;
        letter-spacing: 0em;
    }

    .jdetails-card-footer .right {
        min-width: 50px;
    }

    .jdetails-card-footer .right a {
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0em;
        padding: 5px 7px;
    }

    .jdetails-card {
        margin-bottom: 20px;
        margin-left: 23px;
        margin-right: 23px;
    }


    .card-footer ul li:first-child a,
    .card-footer ul li:last-child a {
        font-size: 9px;
        line-height: 11px;
        letter-spacing: 0em;
        text-align: left;
        padding: 7px 16px;
    }


    .card-footer ul li a {
        font-size: 9px;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 0em;
        text-align: left;
    }
}

/* jobs responsive end */