/* team about start  */


@media only screen and (max-width: 1600px) {}


/* Desktop/Laptops */
@media only screen and (max-width: 1200px) {}



/* Tabs */
@media only screen and (max-width: 991px) {

    .tabout_first {
        margin-top: 35px;
        margin-bottom: 54px;
    }

    .tabout_third {
        margin-top: 60px;
        margin-bottom: 120px;
    }

    .tabout_first .col-md-6 {
        width: 100%;
    }

    .tabout_second .col-md-6 {
        width: 100%;
    }

    .tabout_third .col-md-6 {
        width: 100%;
    }


    .tabout_second .tabout_right_side img {
        display: none;
    }

    .tabout_second .tabout_mobile img {
        display: block;
        width: 100% !important;
        border-radius: 20px;
    }

    .tabout_first .tabout_right_side img {
        height: auto;
    }

    .tabout_second .tabout_right_side img {
        height: auto;
    }

    .tabout_third .tabout_right_side img {
        height: auto;
    }

    .tabout_second .tabout_left_side {
        padding-left: 0px;
        margin-bottom: 64px;
    }

    .tabout_third .tabout_left_side {
        margin-bottom: 50px;
    }

    .tabout_first .tabout_left_side {
        margin-bottom: 70px;
    }

}


/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
    .tabout_first {
        margin-top: 45px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 10px;
    }

    .tabout_third {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 0px;
    }

    .tabout_second {
        margin-bottom: 18px;
    }

    .tabout_first .tabout_left_side p {
        margin-top: 17px;
    }

    .tabout_left_side h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .tabout_left_side h3 {
        font-size: 20px;
        line-height: 26px;
    }

    .tabout_first .tabout_left_side p {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }

    .tabout_first .tabout_left_side_social ul {
        margin-top: 30px;
        max-width: 220px;
    }

    .tabout_first .tabout_left_side ul li {
        line-height: 0px;
        padding: 5px 0px;
    }

    .tabout_first .tabout_left_side_social ul li img {
        height: 25px;
        width: 25px;
    }

    .tabout_right_side img {
        margin-top: 0px;
        height: auto;
    }

    .tabout_third .tabout_left_side h2 {
        font-size: 35px;
        line-height: 45px;
        color: #050533;
    }

    .tabout_third .tabout_left_side ul li {
        font-size: 20px;
        line-height: 26px;
    }

    .tabout_second .tabout_right_side img {
        display: none;
    }

    .tabout_second .tabout_left_side h2 {
        font-size: 35px;
        line-height: 45px;
        color: #050533;
    }


    .tabout_second .tabout_left_side {
        padding-left: 24px;
        margin-top: 30px;
        margin-bottom: 26px;
    }

    .tabout_second .tabout_left_side p {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0px;
    }

    .tabout_second .tabout_mobile img {
        display: block;
        width: 100%;
        border-radius: 36px;
        padding: 20px;
    }

    .tabout_first .tabout_left_side {
        margin-bottom: 50px;
    }
}

/* team about end */





















/* career start  */


/* Tabs */
@media only screen and (max-width: 991px) {

    .career-main {
        margin-top: 50px;
    }

    .career-section {
        padding-bottom: 60px;
    }

    .career-details {
        padding-right: 0px;
        margin-top: 60px;
    }

    .career-details h1 {
        font-size: 37px;
        line-height: 44px;
    }

    .career-details h1 br {
        display: none;
    }

    .career-details p {
        font-size: 20px;
        line-height: 26px;
    }

    .career-details .btn-career {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 17px 14px;
        line-height: 0px;
    }

    .career-img {
        display: none;
    }

    .career-main-deader h3 {
        font-size: 24px;
        line-height: 25px;
        padding: 10px 0px;
    }

    .career-main-deader h2 {
        font-size: 38px;
    }

    .career-main-deader p {
        font-size: 22.41px;
        line-height: 30.08px;
        margin-bottom: 45px;
    }

    .career-main .col-md-4 {
        width: 50%;
    }

    .career-main-card h4 {
        font-size: 20px;
        max-width: 50px;
        max-height: 50px;
    }

    .career-main-card h3 {
        font-size: 33px;
        line-height: 40px;
    }

    .career-main-card p {
        font-size: 20px;
        line-height: 28px;
    }

    .career-gallary-header h4 {
        font-size: 20px;
        padding: 5px 0px;
    }

    .career-gallary-header h3 {
        font-size: 45px;
        line-height: 50px;
        margin-top: 32px;
    }

    .career-main-card {
        min-height: 375px;
    }

    .career-img-mobile {
        display: block;
        position: relative;
    }

    .career-img-mobile img {
        border-radius: 20px;
    }

    .career-section .col-md-6 {
        width: 100%;
    }

    .circle-img-mobile {
        position: absolute;
        bottom: -42px;
        left: 43%;
    }

    .circle-img-mobile img {
        width: 90px;
        height: 90px;
    }

    .grid-container {
        min-height: 0px;
    }

    .grid-item.item5 img {
        max-height: 135px;
    }
}



/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

    .career-section {
        padding-bottom: 40px;
    }

    .career-img img {
        display: none;
    }

    .career-img .circle-img {
        display: none;
    }

    .career-img-mobile {
        display: block;
        position: relative;
    }

    .career-img-mobile img {
        border-radius: 20px;
    }

    .circle-img-mobile {
        position: absolute;
        bottom: -31px;
        left: 43%;
    }

    .circle-img-mobile img {
        width: 60px;
        height: 60px;
    }

    .career-main {
        margin-top: 40px;
    }

    .career-details h1 {
        font-size: 33.06px;
        line-height: 37px;
        padding-top: 0px;
    }

    .career-details p {
        font-size: 13.52px;
        line-height: 17.31px;
    }

    .career-details .btn-career {
        font-size: 17.41px;
        line-height: 22.28px;
    }

    .career-main-deader h3 {
        font-size: 20px;
        line-height: 21.18px;
        max-width: 250px;
    }

    .career-main-deader h2 {
        font-size: 30px;
        line-height: 75px;
    }

    .career-main-deader p {
        font-size: 20px;
        line-height: 25.6px;
    }

    .career-main .col-md-4 {
        width: 100%;
    }

    .career-main-card {
        min-height: 280px;
    }

    .career-main-card h4 {
        font-size: 23.6px;
        line-height: 30.21px;
        max-width: 50px;
        max-height: 50px;
    }

    .career-main-card h3 {
        font-size: 32.01px;
        line-height: 40.98px;
        text-align: left;
    }

    .career-main-card p {
        font-size: 16.86px;
        line-height: 21.58px;
    }

    .career-gallary-header {
        margin-top: 40px;
    }


    .career-gallary-header h3 {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 20px;
    }

    .career-gallary-header h4 {
        font-size: 20px;
        line-height: 21px;
        display: inline;
        padding: 5px 14px;
        letter-spacing: 2px;
    }

    .grid-container {
        display: none;
    }

    .grid-container-mobile {
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 50px;
    }

    /* .item-m-2 {
        grid-column: 1;
        grid-row: 2 / span 3;
    } */

    .grid-item-m.item-m-1 img,
    .grid-item-m.item-m-2 img,
    .grid-item-m.item-m-3 img,
    .grid-item-m.item-m-4 img,
    .grid-item-m.item-m-5 img,
    .grid-item-m.item-m-6 img {
        border-radius: 20px 20px 20px 20px;
        width: 100%;
    }

    .grid-container-mobile .grid-item-m {
        margin-bottom: 30px;
    }


    .seperate .grid-item-m .item-m-2 {
        width: 50%;
    }


}

/* career end */
















/* jobs responsive start  */

@media only screen and (max-width: 1600px) {}


/* Desktop/Laptops */
@media only screen and (max-width: 1200px) {}



/* Tabs */
@media only screen and (max-width: 991px) {}


/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

    .jbanner-details h1 {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0em;
        width: 60%;
        margin: 0 auto;
    }

    .jbanner-details p {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0em;
        padding-top: 8px;
    }

    .jdetails-card-body h2 {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0em;
    }

    .jdetails-card-body p {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0em;
    }

    .jdetails-card-footer .left ul li img {
        width: 22px;
        height: 22px;
        padding-right: 3px;
    }

    .jdetails-card-footer .left ul li {
        font-size: 7px;
        line-height: 9px;
        letter-spacing: 0em;
    }

    .jdetails-card-footer .right a {
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0em;
        padding: 5px 7px;
    }

    .jdetails-card {
        width: 96%;
        margin: 0 auto;
        margin-bottom: 20px;
    }


    .card-footer ul li:first-child a,
    .card-footer ul li:last-child a {
        font-size: 9px;
        line-height: 11px;
        letter-spacing: 0em;
        text-align: left;
        padding: 7px 16px;
    }


    .card-footer ul li a {
        font-size: 9px;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 0em;
        text-align: left;
    }
}

/* jobs responsive end */
























/* jobs 2 responsive start  */
@media only screen and (max-width: 1600px) {}


/* Desktop/Laptops */
@media only screen and (max-width: 1200px) {}



/* Tabs */
@media only screen and (max-width: 991px) {

    .jobs-two-banner .jobst-banner-details h1 {
        font-size: 30px;
    }

    .jobs-two-banner .jobst-banner-details ul li {
        font-size: 18px;
    }

    .jobs-two-banner .social-media h2 {
        font-size: 20px;
    }


    .jobs-two-banner .btn-jobt-bnr {
        font-size: 20px;
        padding: 4px 20px;
    }

    .jobs-two-banner .back a {
        font-size: 18px;
    }

    .jobs-two-banner .back {
        margin-top: 18px;
        margin-bottom: 40px;
    }

    .jobs-two-banner .btn-jobt-bnr {
        margin-top: 60px;
    }

    .job-decs {
        background-color: #FBF8FF !important;
        border-radius: 20px;
    }

    .jobs-two-main .job-item {
        display: block;
    }

    .jobs-two-main .job-item-left {
        width: 100%;
        text-align: left;
        padding-bottom: 0px;
    }

    .jobs-two-main .job-item-right {
        padding-top: 10px;
    }

    .apply-btn {
        display: flex;
        justify-content: center;
    }

    .btn-jobs-2 {
        margin-left: 0px;
        font-size: 15px;
        padding: 0px 15px;
    }

    .btn-left {
        width: 0%;
    }

    .apply-btn {
        width: 100%;
    }
}


/* Mobile Devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
    .jobs-two-banner {
        margin-top: 38px;
        text-align: center;
    }

    .jobs-two-banner .jobst-banner-details h1 {
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
    }

    .jobs-two-banner .jobst-banner-details ul li {
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        padding-right: 8px;
    }

    .jobs-two-banner .jobst-banner-details ul li img {
        height: 15px;
        width: 15px;
        padding-right: 5px;
        object-fit: contain;
    }

    .jobs-two-banner .social-media h2 {
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;
    }

    .jobs-two-banner .btn-jobt-bnr {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 1px;
        margin-top: 18px;
        padding: 8px 15px;
    }

    .jobs-two-banner .back a {
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
    }

    .jobs-two-banner .back {
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .jobs-two-main .job-item {
        display: block;
    }

    .jobs-two-main .job-item-left {
        width: 100%;
        text-align: left;
        font-size: 20px;
        line-height: 36px;
        font-weight: 600;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .jobs-two-main .job-item-right {
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        padding-top: 0px;
    }

    .jobs-two-main .job-item:first-child .job-item-right {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .jobs-two-main .job-item:last-child .job-item-right {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .jobs-two-main .job-item:first-child .job-item-left {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .jobs-two-main .job-item:last-child .job-item-left {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .job-decs {
        background-color: #FBF8FF !important;
        border-radius: 20px;
    }

    .btn-left {
        width: 0%;
    }

    .apply-btn {
        width: 100%;
    }

    .apply-btn {
        display: flex;
        justify-content: center;
    }

    .btn-jobs-2 {
        margin-left: 0px;
        font-size: 11px;
        font-weight: 600;
        line-height: 14px;
        margin-top: 36px;
        padding: 10px 10px;
    }
}

/* jobs 2 responsive end */